{% extends 'admin/change_form.html' %}
{% block after_field_sets %}
{% if add_child %}
  <input type="hidden" name="parent" value="{{ parent_id }}">
{% endif %}
{% endblock %}
{% block inline_field_sets %}
{% if add %}<div style="display: none;">{% endif %}
{% for inline_admin_formset in inline_admin_formsets %}
  {% include inline_admin_formset.opts.template %}
  <div style="padding-bottom: 1.5em;"><input type="submit" name="_add_child_{{ inline_admin_formset.formset.prefix }}" value="Add new {{ inline_admin_formset.opts.verbose_name }}"></div>
{% endfor %}
{% if add %}</div>{% endif %}
{% endblock %}
