.contact-page {
    background-image: url(temp_background.png);
    background-attachment: fixed;
    width: 100%;
    margin-top: 85px;

}

.title-breadcrumb-container {
    padding: 30px 0;
    text-align: center;
}

.contact-title {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.form-contact-container{
    background: white;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Center vertically */
}

iframe {
    margin-top: 50px;
    width: 100%; /* Start with a default max width */
    max-width: 950px; /* Ensures it doesn't get larger than 950px */
    height: auto; /* Initial height setting */
    aspect-ratio: 950 / 1300; /* Maintains the aspect ratio of the iframe */
    border: 0;
    box-shadow: 5px 5px 56px 0px rgba(0,0,0,0.25);
}



.contact {
    /* Styles for the contact info container */
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact h2 {
    /* Styles for the title */
    margin-bottom: 10px;
    color: black;
    font-size: 2.3rem;
}

.contact p {
    /* Styles for the contact information paragraphs */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.contact i {
    margin-right: 8px;
    font-size: 1.1rem;
}

.contact a {
    text-decoration: none; /* Removes underline from links by default */
    font-size: 1.1rem;
    color: #333;
}

.contact a:hover {
    text-decoration: underline; /* Adds underline on hover */
}

.contact-underline {
    width: 60px;
    height: 3px;
    background-color: red;
    margin-top: 10px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .contact-title {
        font-size: 2.5rem; /* Smaller font size */
    }
    .form-contact-container {
        flex-direction: column; /* Stack form and contact info vertically */
        align-items: center;
    }

    iframe {
        max-width: 100%; /* Allows the iframe to take full width of the container */
        height: auto; /* Adjust height as needed */
    }

    .contact {
        align-items: center; /* Center align the contact info when stacked below the form */

        margin-top: 30px; /* Add some space between the form and contact info */
    }

    .contact h2, .contact p {
        text-align: center; /* Center align text within contact info */
    }

    .contact p {
        flex-direction: column; /* Stack icons and text vertically */
        margin-bottom: 5px;
    }

    .contact a {
        font-size: 1rem;
    }

    .contact i {
        margin-bottom: 5px; /* Provides spacing between icon and text when stacked */
    }
}





