/* src/components/MessageIconButton.css */
.message-icon-button {
    position: fixed;
    bottom: 70px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background: #f62c2c;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    font-size: 1.5em;
}

.message-icon-button:hover {
    background: #e21732;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.message-icon-button:focus {
    outline: none;
}
