.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: background-color 0.3s ease;
    background-color: #fff;
    color: black;
    border-bottom: 1px solid black;
}


.navbar-scrolled {
    background-color: #fff;
    color: black;
}

.navbar-scrolled-homepage {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
}

.navbar-home {
    background-color: transparent;
    color: white;
    border-bottom: none;
}

#logo-img {
    width: 108px;
    height: 61.56px;
    margin-left: 20px;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex: 2;
}

.nav-links li {
    margin-left: 0px;
    padding: 0 20px;
    position: relative;
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}

.nav-links li a:hover {
    color: orange;
    border-bottom: 3px solid orange;
}

.nav-links li a:focus {
    color: orange;
}

.nav-links li a.active {
    color: orange;
    border-bottom: 3px solid transparent;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style: none;
    padding: 10px 0;
    margin-top: 10px;
    width: 200px;
    border-radius: 10px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu li {
    color: black;
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.5s ease, border-top-color 0.5s ease;
}

.dropdown-menu li a:hover {
    background-color: #ffb200;
    color: #000;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.navbar .dropdown .dropdown-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 5px;
}

.homepage-dropdown {
    background: linear-gradient(to top, black, black);
}

.homepage-dropdown-scrolled {
    background: linear-gradient(to top, black, black);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0;
    }

    .menu-toggle {
        display: block;
        margin-left: auto;
        color: #fbeb90;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
        align-items: flex-start;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin-left: 0;
        padding: 10px 0;
        text-align: left;
        width: 100%;
    }

    .nav-links li a {
        border-bottom: none;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .nav-links li a.active {
        border-bottom: none;
    }

    .nav-links li a:hover {
        color: orange;
        border-bottom: none;
    }

    .dropdown-menu {
        width: 100%;
        top: -12px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        display: none;
    }

    .dropdown-menu.show {
        opacity: 1;
        display: block;
        position: relative;
        visibility: visible;
        background: none;
        box-shadow: none;
        font-size: 13px;
    }

    .dropdown-menu li {
        padding: 0px 0px;
    }

    .dropdown-menu li a {
        padding: 10px 20px;
        text-align: left;
    }

    .navbar .dropdown .dropdown-toggle {
        display: inline;
    }
}

