.faq-page {
    background-image: url(temp_background.png);
    background-attachment: fixed;
    width: 100%;
    margin-top: 85px;
}

.title-breadcrumb-container {
    padding: 30px 0;
    text-align: center;
}

.faq-title {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.faq-background {
    background: white;
}
.faq-container {
    max-width: 1200px;
    display: flex;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.faq-categories {
    flex: 1;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.faq-category {
    padding: 20px;
    margin-bottom: 10px;
    background: #273034;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    display: flex;
    align-items: center; /* Align items vertically */
    font-weight: bold;
}

.faq-category.active {
    background: #be0f24;
}
.faq-category:hover {
    background: #fb3131;
}

.faq-icon {
    margin-right: 10px; /* Space between icon and text */
    width: 20px; /* Set the icon width */
    height: 20px; /* Set the icon height */
}

.faq-questions {
    flex: 2;
    padding: 20px;
    border-radius: 5px;
}

.faq-question {
    margin-bottom: 10px;

}

.faq-question-title {
    padding: 15px;
    background: #fd3131;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    font-weight: bold;
}

.faq-question-title.active, .faq-question-title:hover {
    background: #be0f24;
}

.faq-question-answer {
    overflow: hidden; /* Hide content when height is animated */
    max-height: 0; /* Initially hidden */
    padding: 0 15px;
    background: white;
    border-radius: 5px;
    margin-top: 10px;
    transition: max-height 0.3s ease, padding 0.3s ease; /* Smooth transition */
    color: #4d4a4a;
}

.faq-question-answer.open {
    max-height: 700px; /* Maximum height of the content */
    padding: 15px;
    border: 1px solid #f62c2c;
}

.faq-question-answer a {
    text-decoration: none;
    color: #004686;
    transition: color 0.3s ease;
}

.faq-question-answer a:hover {
    color: #ffc400;
}

@media (max-width: 768px) {
    .faq-container {
        flex-direction: column;
        padding: 20px;
    }

    .faq-categories {
        margin-bottom: 20px;
    }

    .faq-category {
        padding: 10px;
        font-size: 1rem;
    }

    .faq-title {
        font-size: 2.5rem;
    }


}




